.card{
    padding: 20px;
    margin: 20px;
}
.card span{
    font-size: 20px;
    font-weight: bolder;
}
.card p{
    margin : 0 30px 20px 0;
}
.avatar{
    display: inline-block;
    width: 30px;
    height: 20px;
    align-items: center;
}